@font-face {
  font-family: 'clock';
  src: url('../clock.ttf');
}

body {
  margin: 1em;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.clock {
  .button {
    background-color: #d87465;
    height: 15px;
    width: 100px;
    margin-left: 200px;
    border-radius: 3px 3px 0px 0px;
    text-align: center;
    font-family: clock;
    position: absolute;
    top: 15px;
    cursor: pointer;

    &.pressed {
      height: 10px;
      top: 20px;
    }
  }

  .display {
    background-color: black;
    border-radius: 5px;
    width: 500px;
    height: 110px;
    display: flex;
    margin-top: 30px;

    .time {
      background-color: #8BC34A;
      border-radius: 3px;
      margin: 10px 30px;
      display: flex;
      width: 100%;

      .digits {
        white-space: pre;
        font-size: 75px;
        font-family: clock;

        &.ampm {
          font-size: 50px;
          position: relative;
          top: 24px;
          margin-left: 15px;
        }
      }
    }
  }

  .base {
    border-bottom: 25px solid black;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    height: 0;
    width: 200px;
    margin-left: 75px;
  }
}
